.react-calendar__month-view__weekdays__weekday abbr {
    display: non;
}
.react-calendar__month-view__weekdays__weekday {
    color:#1ABC9C;  
    font-weight: 600;
    
    white-space: nowrap;
    text-decoration: underlin;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}




.thin-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    /* scrollbar-color: #888 #f1f1f1; For Firefox - thumb color and track color */
}